/* 열람실 목록 */
.room-list{
    width: 90%;
    margin: 0 auto;
}

.list-btn{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    display: inline-flex;
    justify-content: center;
}

.list-btn button{
    background-color: #6f6282;
    border: 1px solid #4d445b;
    padding: 5px 13px;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 20px;
    color: #fff;
    font-size: 14px;
}

.list-btn button:hover{
    background-color: #2c2734;
    border: 1px solid #211d27;
}

.list-btn button.active{
    background-color: #2c2734;
    border: 1px solid #211d27;
}



/* 좌석 배치도 */
.seat-chart{
    width: 90%;
    height: 430px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.seat-wrapper{
    /* border: 1px solid black; */
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
}

.line1, .line2{
    width: 80%;
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.seat-list{
    width: 120px;
    max-width: 140px;
    display: inline-flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 30px 0px 0px;
}

/* line2 > 가로 좌석 */
.seat-list-row{
    /* border: 1px solid blueviolet; */
    width: 500px;
    max-width: 500px;
    margin: 30px 0px;
    display: inline-flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* 좌석 색  */
/* 예약 가능 */
.vacant{
    background-color: #284d70;
    border: 1px solid #4d445b;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    width: 40px;
    height: 40px;
    margin: 2%;
}

/* 예약 불가 */
.occupied{
    background-color: #969696;
    border: 1px solid #838383;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    width: 40px;
    height: 40px;
    margin: 2%;
}

/* 내자리 */
.mine{
    background-color: #ff6600;
    border: 1px solid #e55b00;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    width: 40px;
    height: 40px;
    margin: 2%;
}

/* 눌렀을 때 or 자기 자신의 색 */
.seat-wrapper button:active{
    background-color: #ff6600;
    border: 1px solid #e55b00;
    color: #fff;
}

/*  ======= 테이블 ====== */
.wrapper-table {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0 20px;
    padding-top: 20px;
    font-size: 13px;
    background: #fff;
    height: auto;
    display: flex;
    flex-direction: column;
}

th, td{
    border: 1px solid #e5e8eb;
    vertical-align: middle;
    padding: 8px 10px;
}

th{
    background: #f7f7f7;
    width: 20%; 
    font-weight: normal;
}

td{
    width: 100px;
    border-left: none;
}

.left{
    border-left: none;
}


/* ====== 예약 x 테이블 ====== */
.seat-info, .reserve-info{
    width: 100%;
    height: 80px;
    border: none;
    border-spacing: 0;
    font-size: 17px;
    text-align: center;
}

.wrapper-table .reserve_btn{
    background-color: #518d7d;
    border: 1px solid #3e6b5f;
    color: #fff;
    padding: 7px 13px;
    border-radius: 5px;
    width: 80px;
    margin-top: 20px;
    margin-left: auto;
    cursor: pointer;
    float: right;
    
}



/* ====== 예약 o 테이블 =========== */
.reserve-info{
    font-size: 14px !important;
}

.reserve-info th{
    width: 10% !important;
    height: 50px;
}

.reserve-info td{
    width: 15% !important;
}

.reserve-info-btn{
    margin-left: auto;
}

.reserve-info-btn button{
    background-color: #518d7d;
    border: 1px solid #3e6b5f;
    color: #fff;
    padding: 7px 13px;
    border-radius: 5px;
    width: 80px;
    margin-top: 20px;
    cursor: pointer;
}

.wrapper-table th{
	height: 50px;
	padding: 0;
}