<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
	<mapper namespace="com.library.mapper.admin.AdminMapper">
		
		<!-- 회원 리스트 페이징 처리 없이 출력 -->
		<select id="member_list" resultType="com.library.model.member.MemberDTO">
			select * from member order by user_reg_date
		</select>
		
		<!-- 회원 total -->
		<select id="get_total" resultType="int">
			select count(*) from member
			<include refid="criteria"></include>
		</select>
		
		<!-- 회원 리스트 페이징 및 검색 시 -->
		<select id="list_paging" resultType="com.library.model.member.MemberDTO">
			select * 
			  from member 
			  <include refid="criteria"></include>
			  order by user_reg_date 
			  limit #{skip}, #{amount}
		</select>
		
		<!-- 회원 정보 출력 -->
		<select id="member_view" resultType="com.library.model.member.MemberDTO">
			select * from member where user_id = #{user_id}
		</select>
 		
 		<!-- 회원 정보 수정 -->
 		<update id="member_modify">
 			update member
 			   set user_name = #{user_name}, user_tel = #{user_tel}, user_birth = #{user_birth}, user_zip = #{user_zip},
 			   			  user_address = #{user_address}, user_address_detail = #{user_address_detail},
 			   			  user_overdue_date = #{user_overdue_date}
 			  where user_id = #{user_id}
 		</update>
 		
 		<!-- 회원 삭제 -->
 		<delete id="member_delete">
 			delete from member where user_id = #{user_id}
 		</delete> 
 		
 		<!-- 탈퇴회원 테이블에 입력 -->
 		<insert id="insert_secession">
 			insert into secession_member values(#{user_id});
 		</insert>
 		
		<sql id="criteria">
	        <if test="type != null">
			  	<if test="keyword != null">
			  	
			  		<if test="type == 'user_id'">
			  			where user_id like concat('%', #{keyword}, '%')
			  		</if>
			  		
			  		<if test="type == 'user_name'">
			  			where user_name like concat('%', #{keyword}, '%')
			  		</if>
			  		
			  		<if test="type == 'user_tel'">
			  			where user_tel like concat('%', #{keyword}, '%')
			  		</if>
			  		
			  		<if test="type == 'user_email'">
			  			where user_email like concat('%', #{keyword}, '%')
			  		</if>
			  		
				</if>
			</if>
	    </sql>
		
	</mapper>