<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
	<mapper namespace="com.library.mapper.admin.OverdueMapper">
		<!-- 총 연체 도서 수 total -->
		<select id="get_total" resultType="int">
		
				select count(*) from loan_history 
				where datediff(return_period, current_timestamp) &lt; 0 
				and return_status = false
	
		</select>
		
		<!-- 현재 시간과 반납시간의 차이가 -인 도서 출력 -->
		<select id="overdue_list" resultType="com.library.model.search.BookDTO">
				select * from loan_history 
				where datediff(return_period, current_timestamp) &lt; 0 
				and return_status = false
				order by loan_date
		</select>
		
	</mapper>