<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
	<mapper namespace="com.library.mapper.mylib.MyLoanHistoryMapper">
		

		<!-- 대출 도서 건 수 -->
		<select id="get_total" resultType="int">
			select count(*) 
			  from loan_history 
			 where user_id = #{user_id} <include refid="criteria"></include>
		</select>
		
		<!-- 대출 내역 페이징 및 검색 시 --> 
		<select id="loan_history" resultType="com.library.model.search.BookDTO">
			select * 
			  from loan_history
			 where user_id = #{user_id} <include refid="criteria"></include>
			  order by loan_date desc
			  limit #{cri.skip}, #{cri.amount}
		</select>
		
		<sql id="criteria">
	        <if test="start_date != null">
			  	<if test="end_date != null">
			  			and loan_date between concat(#{start_date}, ' 00:00:00.0') 
			  			and concat(#{end_date}, ' 23:59:59.0')
				</if>
			</if>
	    </sql>
 		
	</mapper>