<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.library.mapper.board.NoticeAttachMapper">
	
	<insert id="insert">
		insert
		  into notice_attach_file(uuid, upload_path, file_name, file_type, notice_no)
		values(#{uuid}, #{upload_path}, #{file_name}, #{file_type}, #{notice_no})
	</insert>
	
	<delete id="delete">
		delete from notice_attach_file where uuid = #{uuid}
	</delete>
	
	<delete id="deleteAllByNotice_no">
		delete from notice_attach_file where notice_no = #{notice_no}
	</delete>
	
	<select id="findByNotice_no" resultType="com.library.model.board.NoticeAttachDTO">
		select * from notice_attach_file where notice_no = #{notice_no}
	</select>
	
</mapper>