@charset "UTF-8";

.doc-body h3 {
    padding-left: 30px;
    margin: 30px 0 15px 0;
    background: url(/resources/imges/info/h3.gif) no-repeat 0 7px;
    font-size: 23px;
    font-weight: 600;
    color: #222;
    line-height: 1.4;
    letter-spacing: -0.05em;
}

.doc-body ul.con > li {
    font-size: 16px;
    letter-spacing: -0.3px;
    background: url(/resources/imges/info/con_icon.gif) no-repeat 4px 9px;
    padding: 3px 0 3px 23px;
}

.doc-body ul.con > ul > li.dep01 {
    background: url(/resources/imges/info/con_ul_li.gif)no-repeat 5px 10px;
    padding-left: 20px;
    font-size: 15px;
    color: #666;
    letter-spacing: -0.5px;
    margin: 5px 0 5px 13px;
}